*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f7f7;
}
h1{
    font-size: 60px;
    background-color: #002d5a;
    color:white;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    margin: 50px;
}
.score-board{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    margin: 50px;
    text-align: center;
    font-size: 40px;
}
.msg-container {
    display: flex;
    align-content: center;
    justify-content: center;
}
#msg{
    font-size: 40px;
    text-align: center;
    background-color: #F58A07;
    font-weight: bold;
    padding: 20px 60px;
}